* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}
.app {
  overflow-x: hidden;
}
.header {
  padding: 0 1rem;
  background-color: $dark-purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-left {
    display: flex;
    align-items: center;
  }
}
.logo {
  margin-right: 1rem;
  svg {
    fill: $primary-blue;
    width: 62px;
    height: 40px;
  }
}
.nav-links {
  .nav-link {
    padding: .5rem 1rem;
    font-size: .9rem;
    color: $primary-white;
    text-decoration: none;
    text-transform: uppercase;
  }
}
.header-right {
  .nav-link {
    text-transform: initial;
  }
}
